$color_text_1:#ffffff;
$color_text_2:#000000;
$color_text_3: #a8a8a8;
$color_1:rgb(92, 46, 3, 0.85);
$color_2:#5C2E03;
$color_3:#ffffff;
$color__animation: #d26500;
$slider__color:#744D29;
$color_text_4:#8F7047;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style:normal;
}

@font-face {
    font-family: 'Ermilov';
    src: url('../fonts/Ermilov-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'palatinolinotype';
    src: url('../fonts/palatinolinotype_bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


h1, h2 {
    font-family: 'Ermilov', serif;
    font-weight: bold;
    color: #000000;
}

p,a {
    font-family: 'Montserrat';
    font-weight: normal; 
    color: #000000;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1920px;
    padding: 0;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.main {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 4px;
}
@media (max-width: 450px) {
    .main {
        gap: 5px;;
    }
} 

.main__navigation {
    margin: 45px 0 65px 0;
    .item__active {
        color: #4B24009C;
        
    }
    .main__navigation__item {
        font-size: 18px;
        font-family: 'Montserrat';
        font-weight: 400;
        a {
            text-decoration: none;    
            transition: none;     
          }
        a:hover, a:focus, a:active {
            text-decoration: none;  
            color: inherit;         
        }
    }
}

.banner_speakers {
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.2fr;
    width: 100%;
    max-width: 1200px;
    height: auto;
    .speakers__image {
        margin: 0  auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 360px;
        overflow: hidden;
        .img {
            width: 100%;
            height: auto;
            object-fit: cover;  
        }
    }
    @media (max-width: 450px) {
        .speakers__image {
            width: 310px;
            height: auto;
            margin: 0 auto;
        }
    }

    .speakers__content {
        height: auto;
        padding: 0 15px;
        width: 100%;
        max-width: 850px;

        .speakers__content__title {
            margin-top: 15px;
            position: relative;
            width: 100%;
            display: flex;

            .content__name {
                font-size: 26px;
                font-family: 'palatinolinotype';
                font-weight: 700px;
            }
            @media (max-width: 576px) {
                .content__name {
                    font-size: 19px;
                }
            }
            .content__rating {
                position: absolute;
                right: -15px;
                top: 2px;
            }
            .retimg__item {
                width: 37px;
                height: 37px;
            }
            @media (max-width: 576px) {
                .retimg__item {
                    width: 20px;
                    height: 20px
                }
            }
        }
        .speakers__content__main {
            width: 100%;
            height: auto;
            .content__main__paragraf__item-1 {
                font-size: 20px;
                font-weight: 600;
                font-family: 'Roboto';
                color: $color_text_4;
            }
            .content__main__paragraf__item-2 {
                font-size: 20px;
                font-weight: 100;
                font-family: 'Roboto';
            }
            @media (max-width: 576px) {
                .content__main__paragraf__item-2,
                .content__main__paragraf__item-1 {
                    font-size: 14px;
                }
            }

            .courses__and__headings {
                display: flex;
                width: 100%;
                max-width: 320px;
                justify-content: space-between;
                .courses__item__text {
                    border: 2px solid #5C2E03;
                    padding: 8px 30px 8px 15px;
                    font-size: 16px;
                    font-weight: 700;
                }
                @media (max-width: 576px) {
                    .courses__item__text {
                        font-size: 12px;
                    }
                }
                .courses__item__title {
                    font-size: 16px;
                    font-weight: 700;
                    margin-top: 30px;
                }
                @media (max-width: 576px) {
                    .courses__item__title {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    @media (max-width: 1199px) {
        .speakers__content {
            margin-top: 40px;
            max-width: 1200px;
        }
    }
    @media (max-width: 450px) {
        .speakers__content {
            margin-top: 10px;
        }
    }
}

@media (max-width: 1199px) {
    .banner_speakers {    
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.2fr;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .banner_speakers {    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
    }
}







.curses-container {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    width: 100%;
    position: relative;
    max-width: 1200px;
    height: auto;
}
@media (max-width: 450px) {
    .curses-container {
        padding: 0 2px;
    }
    
}
.curses__cards {
    max-width: 1200px;
    justify-content: center;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column: 1/-1;
    grid-row: 1/-1;
    gap: 25px;
    

    .cards-item {
        margin: 0 auto;
        background-color: $color_3;
        width: 280px;
        transition: all linear 0.15s;
        box-shadow: 0px 0px 10px #838383;
        &:hover {
            transform: scale(1.07);
        }
        .item__image {
            .img {
                width: 100%;
            }
        }
        .item__title {
            margin: 10px 0 4px 20px;
            font-size: 20px;
            font-weight: 500;
        }
        .item__subtitle{
            margin-left: 20px;
            font-size: 15px;
            font-weight: 300;
            color: $color_text_3;
        }
        .item__star {
            margin: 10px 0 10px 20px;
            display: flex;
            .img {
                width: 22px;
                height: 22px;
            }
        }
        .item__bottom {
            display: flex;
            margin-bottom: 20px;

            .item__button {
                display: flex;
                width: 144px;
                height: 44px;
                margin-left: 16px;
                font-size: 14px;
                font-weight: 500;
                color: $color_text_1;
                background-color: $color_2;
                transition: linear 0.3s;

                &:hover {
                    background-color: $color__animation;
                }
            }
            .item__btn {
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                color: $color_text_1;
            }
            .img {
                width: 20px;
                height: 18px;
                margin: 13px 14.5px 13px 18px;
            }
            .item__price {
                margin-left: 10px;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 1199px) {
    .curses__cards {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }
}
@media (max-width: 992px) {
    .curses__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .curses__cards {
        grid-template-columns:  1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
    }
}
 


.footer {
    margin-top: 150px;
    padding: 40px;
    width: 100%;
    height: 290px;
    background-color: $color_text_2;
    color: $color_text_1;
    z-index: -5; 
    

    .footer-container {
        justify-content: space-around;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 0.7fr 1.8fr;
        grid-template-rows: 1fr;
        
    }
    @media (max-width: 768px) {
        .footer-container{
            grid-template-columns: 1fr 0.7fr 1fr;
            grid-template-rows: 1fr;
        }
    }
    @media (max-width: 576px) {
        .footer-container{
            grid-template-columns: auto auto auto;
            grid-template-rows: 1fr;
        }
    }


.footer__title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $color_text_1;
}
@media (max-width: 576px) {
    .footer__title {
        font-size: 10px;
    }
}

.footer__contact {
    .contact {
        width: auto;
    }
    @media (max-width: 576px) {
        .contact {
            width: 125px;
        }
    }
    .contact__item-1 {
        display: grid;
        grid-template-columns: 0.15fr 0.3fr;
        grid-template-rows: 1fr;
        .img {
            width: 25px;
            height: auto;
        }
        .item__text {
            font-family: 'Roboto'!important;
            width: 150px;
            height: 20px;
            margin-left: 15px;
            grid-column: 2/3;
            line-height: 25px;
            font-size: 16px;
            font-weight: 300;
            color: $color_text_3;
        }
        @media (max-width: 576px) {
            .item__text {
                font-size: 9px;
                margin-bottom: 0;
            }
            .img {
                width: 15px;
            }
        }
    }
    .contact__item-2 {
        display: flex;
        margin-top: 25px;
        .img {
            width: 25px;
            height: auto;
            margin: auto 0;
        }
        .item__text {
            font-family: 'Roboto'!important;
            margin-left: 15px;
            width: 200px;
            height: 20px;
            line-height: 28px;
            font-size: 16px;
            font-weight: 300;
            color: $color_text_3;
        }
        @media (max-width: 576px) {
            .item__text {
                font-size: 9px;
                margin-bottom: 0;
            }
            .img {
                width: 15px;
            }
        }
    }     
        .contact__item-3 {
        display: flex;
        margin-top: 14px;
        .img {
            width: 25px;
            height: auto;
            margin: auto 0;
        }
        .item__text {
            font-family: 'Roboto'!important;
            margin-left: 15px;
            width: 200px;
            height: 20px;
            line-height: 21px;
            font-size: 16px;
            font-weight: 300;
            color: $color_text_3;
        }
        @media (max-width: 576px) {
            .item__text {
                font-size: 9px;
                margin-bottom: 0;
                width: a;
            }
            .img {
                width: 15px;
            }
        }
    } 
}



.navbar {
    .nav__item {
        text-decoration: none;
        color: $color_text_3;

        .navbar__item {
            margin: 14px 0 14px 0;
            list-style-type: none;
            font-size: 18px;
            font-weight: 400;
            font-family: 'Roboto'!important;
        }
        @media (max-width: 576px) {
            .navbar__item {
                margin: 0 0 10px 0;
                list-style-type: none;
                font-size: 10px;
                font-weight: 400;
            }
        }
    }
}
.footer__social{
    margin-left: 20px;
    display: grid;
    grid-template-rows: 0.4fr 0.3fr 1fr;
    grid-template-columns: 0.8fr 1fr ;
}
@media (max-width: 576px) {
    .footer__social{
        margin-left: 10px;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}
    .social__image {
        display: flex;
        justify-content: space-between;
        max-width: 190px;
        width: 100%;
        .image__item{
            position: relative;
            margin: 10px;
            border-radius: 50%;
            text-decoration: none;
        }
    }
    @media (max-width: 425px) {
        .social__image {
            .image__item {
                margin: 0;
                img {
                    width:15px;
                    height:15px;
                }
            }
        }
    }

    .logo{
        justify-self: right;
        grid-column: 2/3;
        grid-row: 1/2;
        width: 136px;
        height: 136px;
        background-color: $color_3;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .img {
            margin: auto auto;
            width: 95px;
            height: 95px;
            transition: all 0.3s;
            
        }   
    }
    @media (max-width: 768px) {
        .logo {
            margin-top: 20px;
            width: 80px;
            height: 80px;
            grid-column: 1/2;
            grid-row: 2/3;
            justify-self: center;
            .img {
                width: 60px;
                height: 60px;
            }
        }
    }
}
@media (max-width: 576px) {
    .footer{
        margin-top: 50px;
        height: auto;
        padding: 10px;
    }
}
@media (max-width: 350px) {
    .footer{
        height: auto;
        padding: 3px;
    }
}